<html>
    <head>
        <title>Película</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="bg-primary text-white p-4 text-center">
                <h1>Películas</h1>
            </div>

            <p>Has selecionado la pelicula: <strong>{{ movie | capfirst }}</strong></p>
            <h3>Información:</h3>
            <ul>
                <li>Año de publicación: {{ movie.year }}</li>
                <li>Director: {{ movie.name_director }}</li>
                <li>Género: {{ movie.movie_genre }}</li>
                <li>Sinopsis: {{ movie.sinopsis }}</li>
            </ul>
        </div>
    </body>
</html>